<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src chrome: blob:; img-src https:; object-src 'none'">
    <base href="chrome://wallet/content/" />
    <link rel="localization" href="toolkit/branding/brandings.ftl" />
    <link rel="localization" href="browser/aboutPocket.ftl" />
    <title>Wallet</title>
    <link rel="stylesheet" href="css/main.compiled.css" />
  </head>
  <body class="wallet_containerhome" aria-live="polite">
    <script src="js/vendor.bundle.js"></script>
    <script src="js/main.bundle.js"></script>
    <script src="js/entry.js"></script>
  </body>
</html>